#slideshow-metabox .inside {
  padding: 15px 10px 10px;
}
#slideshow-metabox .slides-wrap:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#slideshow-metabox .wp-simple-flexslider-slide-wrap {
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #efefef;
  display: inline-block;
  background: white;
  box-shadow: 0 1px 2px #f9f9f9;
  float: left;
  position: relative;
}
#slideshow-metabox .wp-simple-flexslider-slide-wrap.active .slide {
  position: relative;
  z-index: 1100;
}
#slideshow-metabox .slide {
  position: relative;
  float: left;
  width: 40%;
}
#slideshow-metabox .slide .wp-simple-flexslider-inside {
  display: block;
  border-right: 1px solid #dfdfdf;
}
#slideshow-metabox .slide img {
  width: 100%;
  display: block;
}
#slideshow-metabox .wp-simple-flexslider-slide-fields {
  display: none;
}
#slideshow-metabox .wp-simple-flexslider-slide-actions {
  position: relative;
  float: left;
  width: 59%;
}
#slideshow-metabox .wp-simple-flexslider-slide-actions .wp-simple-flexslider-inside {
  display: block;
  position: relative;
  padding: 10px;
}
#slideshow-metabox .wp-simple-flexslider-slide-actions .wp-simple-flexslider-slide-url,
#slideshow-metabox .wp-simple-flexslider-slide-actions .wp-simple-flexslider-slide-caption {
  width: 100%;
  margin-bottom: 5px;
  resize: none;
}
#slideshow-metabox .wp-simple-flexslider-slide-actions .wp-simple-flexslider-slide-target-blank-wrap {
  margin: 0;
}
#slideshow-metabox .wp-simple-flexslider-slide-actions .wp-simple-flexslider-slide-remove {
  margin-top: 10px;
}
#slideshow-metabox .no-wp-simple-flexslider-slide-notice {
  display: block;
  border: 3px dashed #cfcfcf;
  color: #bfbfbf;
  padding: 20px;
  text-align: center;
  margin: 0;
}
#slideshow-metabox .no-wp-simple-flexslider-slide-notice p {
  margin: 0;
  font-size: 18px;
}
#slideshow-metabox .slides-actions {
  padding: 20px 0 0px;
}
#slideshow-metabox .slides-actions a {
  margin-right: 10px;
}
